@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,600i,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
}

.navbar
{
    height: 50px;
    /* background-color: #325288; */background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
    box-shadow: rgba(0,0,0,0.25) 0px 5px 15px;
    
}
.navbar .logo{
font-size: 25px;
color: #072227;
font-weight: 400;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li{
    margin: 0 10px;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #072227;
    letter-spacing: 1px;
    transition: all 0.8s ease;
    border-radius: 5px;
    padding: 8px 10px;

}
.navbar ul li a:hover, .navbar ul li a.active{
    color: #072227;
    background: white;
}
section {
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.leftimg{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftimg img{
    width: 70%;
    height: 70%;
}
body{
    background-image: linear-gradient(to right top, #d16ba5, #b979c1, #9888d4, #7195db, #4b9fd8, #3ea0d3, #31a0cd, #27a0c7, #259ac6, #2694c4, #2a8ec2, #2f88c0);
}
.rightdiv{
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 14px 0 #395B64(0 118 255 / 39%);
}
.formbox{
    /* background: linear-gradient(#e66445, #9198e5); */
    /* background: rgb(39, 39, 39); */
    background-color: #465464;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right:35px;
    padding: 30px 100px;
    border-radius: 10px;
}
.formbox h3{
    margin-bottom: 15px;
    text-decoration: underline;
}
.formbox input{
    display: block;
    margin: 8px 0;
    font-size: max(14x, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
}

#btnsubmit{
    margin-top: 15px;
    display: inline-block;
    cursor: pointer;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0070f3;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition:  0.2s ease,color 0.2s ease,box-shadow 0.2s ease;

    
}
#btnsubmit:hover{
    background: rgba(0,118,255,0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}
.input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
  }